<footer class="kzt">
    <ul class="flex kizula_info">
        <li>
            <h4>Công ty</h4>
            <p>
                <i class="icon icon-company"></i>
                Công ty cổ phần xây dựng <br> Kết Nối Kizuna
            </p>
        </li>
        <li>
            <h4>Địa chỉ:</h4>
            <p>
                <i class="icon icon-address"></i>
                Số 102, ngõ 1, Định Công, <br> Thịnh Liệt, Hoàng Mai, Hà Nội
            </p>
        </li>
        <li>
            <h4>Số điện thoại</h4>
            <p>
                <i class="icon icon-phone"></i>
                <a href="tel:+84 869512222">+84 869512222</a>
            </p>
        </li>
    </ul>
</footer>