<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="logo" href="https://thuclfc.gitlab.io/kizuna-demo/build/home.html"><img src="./assets/images/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav ml-auto">
                <li><a href="https://thuclfc.gitlab.io/kizuna-demo/build/home.html" title="Trang chủ">Trang chủ</a></li>
                <li><a href="https://thuclfc.gitlab.io/kizuna-demo/build/gioi-thieu.html" title="Giới thiệu">Giới thiệu</a></li>
                <li><a href="https://thuclfc.gitlab.io/kizuna-demo/build/du-an.html" title="Dự án">Dự án</a></li>
                <li><a href="https://thuclfc.gitlab.io/kizuna-demo/build/lien-he.html" title="Liên hệ">Liên hệ</a></li>
            </ul>
        </div>
    </nav>
</header>