@function v($var) {
  @return var(--#{$var});
}
:root{
  --green: #225D39 ;
  --hover: #804033;
  --black: #000;
  --gray: #444444;
  --size60: 60px;
  --size45: 45px;
  --size32: 32px;
  --size34: 34px;
  --size28: 28px;
  --size21: 21px;
  --size22: 22px;
  --size26: 26px;
  --lh36: 36px;
  --lh34: 34px;
  --lh44: 44px;
  --lh50: 50px;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #444;
}
.wrapper{width: 100%; overflow: hidden;}
a{color: #444;}
a:hover{text-decoration: none;}
img{max-width: 100%;}
.pr{position: relative;}
// header
header{
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;  z-index: 99;
  .logo img{transition: .3s;}
  &.scroll{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    .logo img{max-width: 74px;}
    .navbar{padding: 2px 15px;}
  }
}
.navbar{
  width: 100%;
  padding: 13px 15px;
  max-width: 1420px;
  margin: 0 auto;
  transition: .5s;
}
.navbar-nav{
  li{padding: 0; margin: 0 30px;}
  li:last-child{margin-right: 0;}
  a{display: block; font-size: vw(28px); line-height: var(--lh34);}
  a:hover,a.active{color: var(--green);}
}

//main
main{margin-top: 100px;}
.banner{
  &:after{
    content: "";
    width: 100%; height: 100%;
    background: transparent linear-gradient(180deg, #00923F 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
    position: absolute; top: 0; left: 0;
    opacity: 0.8;
  }
  &_content{
    width: 100%; height: 100%;
    padding-top: vw(170px);
    position: absolute; top: 0; left: 0; z-index: 2;
  }
  .title,p{display: block; color: #fff; text-align: center;}
  .title{margin-bottom: 15px; font-weight: 700; font-size: vw(58px)}
  p{font-size: vw(28px); animation-delay: .5s;}
}
.intro{
  padding: 108px 45px 0;
  justify-content: center;
  align-items: flex-start;
  h2.title{margin-bottom: 75px; flex-basis: 100%; text-align: center;}
  &_img{
    width: 50%;
    max-width: 672px;
    margin-top: 30px;
    &:after,&:before{
      content: "";
      width: 413px;
      height: 219px;
      position: absolute;
    }
    &:after{
      background: url("#{$img-path}/path2.svg") no-repeat 0 0/contain;
      right: -22px; top: -30px;
    }
    &:before{
      background: url("#{$img-path}/path1.svg") no-repeat 0 0/contain;
      left: -30px; bottom: -22px;
    }
  }
  &_content{
    width: 50%;
    max-width: 748px;
    padding-left: vw(60px);
    h4{
      height: 107px;
      padding: 0 0 0 73px;
      margin-top: -25px;
      display: flex; align-items: center;
      color: #fff;
      font-size: vw(36px); font-weight: 700;
      text-transform: uppercase;
      background: url("#{$img-path}/title-pattern.svg") no-repeat 0 0/contain;
    }
    p{margin-bottom: 30px; font-size: vw(22px);}
  }
}
.service{
  padding: 50px 45px 60px;
  margin-top: 150px;
  background: #D4D7D9 0% 0% no-repeat padding-box;
  .container{max-width: 1420px; padding: 0;}
  .des{
    max-width: 1204px; margin: 28px auto 40px;
    font-size: var(--size28); line-height: var(--lh44); text-align: center;
  }
  &_list{
    max-width: 1378px; margin: 0 auto;
    justify-content: center;
    li{
      width: calc(33.33% - 16px);
      min-height: vw(183px);
      display: flex; align-items: center;
      padding: 16px; margin: 8px; background: #fff;
    }
    p{font-size: var(--size22); line-height: var(--lh36); flex: 1;}
    .icon{display: block; margin-right: 17px;}
    .icon-truck{width: 50px; height: 39px; background: url("#{$img-path}/tow-truck.png") no-repeat 0 0/contain;}
    .icon-factory{width: 50px; height: 54px; background: url("#{$img-path}/factory.png") no-repeat 0 0/contain;}
    .icon-company{width: 50px; height: 50px; background: url("#{$img-path}/company.png") no-repeat 0 0/contain;}
    .icon-support{width: 52px; height: 52px; background: url("#{$img-path}/support.png") no-repeat 0 0/contain;}
    .icon-sketch{width: 52px; height: 51px; background: url("#{$img-path}/sketch.png") no-repeat 0 0/contain;}
  }
}
.data{
  width: 100%;
  padding: vw(102px) 0;
  background: url("#{$img-path}/unsplash3.jpg") no-repeat 0 0/cover;
  >*{position: relative; z-index: 2;}
  &:after{
    content: "";
    width: 100%; height: 100%;
    background: transparent linear-gradient(180deg, #266A41 0%, #075D24 100%) 0% 0% no-repeat padding-box;
    position: absolute; top: 0; left: 0;
    opacity: 0.6;
  }
  .container{max-width: 1470px;}
  h2.title{color: #fff;}
  &_list{
    margin-top: vw(115px);
    justify-content: space-between;
    color: #fff;
    li{text-align: center;}
    .icon{
      width: 202px; height: 202px; margin: 0 auto vw(35px);
      display: flex; align-items: center; justify-content: center;
      background: #fff; border-radius: 50%;
    }
    h4{margin-bottom: 4px; font-size: var(--size32); font-weight: 700;}
    p{font-size: var(--size21); text-transform: uppercase;}
  }
}
.project,.feedback{
  .slick-dots{
    display: flex;
    justify-content: center;
    li{margin: 0 11px;}
    button{width: 80px; height: 10px; background: #fff; border: none; font-size: 0;}
    button:focus{outline: none;}
  }
}
.project{
  background: #F1F1F1 ;
  padding: vw(104px) 0;
  .container{max-width: 1450px;}
  &_list{margin-top: 70px;}
  &_item{display: flex !important;}
  &_img{
    width: 50%;
    padding: 30px 0 0 38px;
    max-width: 710px;
    .item{position: relative; z-index: 2;}
    &:after,&:before{
      content: "";
      background: #225D39;
      position: absolute;
    }
    &:before{
      width: calc(100% - 38px); height: 30px; top: 0; left: 0;
    }
    &:after{
      width: 38px; height: calc(100% - 50px);
      top: 0; left: 0;
    }
  }
  &_info{
    width: calc(100% - 710px); padding-left: vw(65px);
    font-size: var(--size32);
    span.year{
      display: block; height: 83px;
      margin-bottom: 100px; padding-left: 55px;
      background: url("#{$img-path}/title-pattern.svg") no-repeat 0 0/contain;
      color: #fff; font-size: var(--size28); font-weight: 700; line-height: 80px;
    }
    h4{margin-bottom: 15px; font-size: inherit; font-weight: 700;}
  }
  .slick-dots{
    margin-top: vw(100px);
    .slick-active button{background: var(--green);}
  }
  .slick-arrow{
    width: 87px; height: 87px;
    background: var(--green);
    position: absolute; bottom: 121px;
    border: none; font-size: 0;
    z-index: 9; cursor: pointer;
    &:focus{outline: none;}
    &:after{
      content: "";
      border-width: 20px;
      border-style: solid;
      border-color: transparent transparent transparent #fff;
      position: absolute; top: 50%; left: calc(50% + 10px); transform: translate(-50%,-50%);
    }
  }
  .slick-next{left: 623px;}
  .slick-prev{
    left: 536px;
    &:after{transform: translate(-50%,-50%) rotate(180deg); left: calc(50% - 10px);}
  }
}
.feedback{
  width: 100%; padding: vw(119px) 0;
  background: url("#{$img-path}/view-fivestar1.jpg") no-repeat 0 0/cover;
  .container{max-width: 1390px; padding: 0;}
  >*{z-index: 2; position: relative;}
  &:before{
    content: "";
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    background: transparent linear-gradient(180deg, #225D39 0%, #043D17 100%) 0% 0% no-repeat padding-box;
    opacity: .6;
  }
  h2.title{color: #fff;}
  &_list{margin-top: 70px;}
  &_item{display: flex !important; align-items: flex-end; margin: 0 15px;}
  .img_customer{
    width: 83px; height: 83px;
    margin-right: vw(80px);
    img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%; border: 4px solid #fff;}
  }
  .info_cutomer{
    position: absolute;
    bottom: vw(35px);
    color: #DA251C;
    .name{font-weight: 600;}
  }
  .content{
    width: calc(100% - 163px);
    height: vw(350px);
    padding: vw(40px) vw(26px) vw(80px);
    background: #fff;
    border-radius: 10px;
    box-shadow: -6px 8px 6px #00000029;
    font-size: var(--size21);
    position: relative;
    p{line-height: var(--lh36);}
    &:after{
      content: "";
      width: 51px; height: 43px;
      background: url("#{$img-path}/union.png") no-repeat;
      position: absolute; left: -40px; bottom: -10px;
    }
  }
  article{
    height: 100%; overflow: auto;
    scrollbar-width: thin;
    &::-webkit-scrollbar{width: 3px;}
    &::-webkit-scrollbar-track{background: #f1f1f1;}
    &::-webkit-scrollbar-thumb{background: #888;}
  }
  .slick-dots{
    margin-top: 80px;
    .slick-active button{background: #FF382E;}
  }
}
.partner{
  padding: 80px 0;
  .container{padding: 0; max-width: 1600px;}
  &_list{margin-top: 70px;}
  .slick-track{display: flex !important; align-items: center;}
  li{padding: 0 40px;}
}

.projects{
  padding: 75px 0;
  .container{max-width: 1376px}
  .col-lg-6{padding: 0 8px;}
  &_list{margin-top: 80px;}
  .project_card{
    margin-bottom: 80px;
    &.open{z-index: 8;}
    &.open .pr_info{
      height: auto; min-height: vw(300px); padding-bottom: 20px;
      .btn_collapse{transform: translateX(-50%) rotate(180deg);}
      &:after{display: none;}
    }
  }
  .year{
    width: 200px;
    height: 71px;
    padding-left: 40px;
    background: rgba(#225D39 ,.6);
    color: #fff;
    font-size: vw(45px); font-weight: 700; line-height: 70px;
    position: absolute; left: 0; top: 40px;
    &:after{
      content: "";
      width: 0;
      height: 0;
      border-top: 71px solid rgba(#225D39 ,.6);
      border-right: 43px solid transparent;
      position: absolute; right: -43px;
    }
  }
  .pr_info{
    width: calc(100% - 76px);
    height: vw(248px);
    min-height: vw(248px);
    background: rgba(#225D39 ,.8);
    margin: vw(-98px) auto 0;
    color: #fff;
    transition: min-height .3s linear;
    position: relative;
    overflow: hidden;
    z-index: 9;
    .btn_collapse{
      width: vw(48px); height: vw(21px);
      background: url("#{$img-path}/down-chevron.png") no-repeat 0 0/contain;
      position: absolute; bottom: 15px; left: 50%; transform: translateX(-50%);
      transition: transform .25s linear;
      z-index: 2;
    }
    article{padding: 35px 24px;}
    &.shadow{
      &:after{
        content: "";
        width: 100%; height: vw(57px);
        background: #527d62;
        /*background: linear-gradient(rgba(#527d62,.7) 50%, #527d62);*/
        box-shadow: 0 vw(-39px) vw(30px) #527d62;
        position: absolute; left: 0; bottom: 0;
      }
    }

  }
  .pr_img{
    display: block; position: relative; padding-bottom: 82%;
    .thumb{display: block;}
    img{width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;}
  }
  li{display: flex; align-items: flex-start;}
  li:before{
    content: "";
    display: inline-block;
    margin: 7px 14px 0 0;
    transform: rotate(45deg);
    height: 20px;
    width: 10px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
  }
  h3{margin-bottom: 10px; font-size: var(--size32); font-weight: 700; line-height: inherit;}
  p{margin-top: 0; font-size: var(--size28);}
  h3 a{color: #fff;}
}
.intro_company{
  padding: vw(100px) 15px 0;
  justify-content: center;
  align-items: flex-start;
  h2.title{margin-bottom: vw(125px); flex-basis: 100%;}
  h4{
    display: flex; height: 107px; width: 100%;
    align-items: center;
    padding-left: 72px;
    background: url("#{$img-path}/title-pattern.svg") no-repeat 0 0/contain;
    position: absolute; top: -85px;
    font-size: var(--size32); font-weight: 700; color: #fff;
    text-transform: uppercase;
  }
  .wrap_img{
    width: 45%; max-width: 672px;
    &:before{
      content: "";
      width: 413px;
      height: 219px;
      background: url("#{$img-path}/path1.svg") no-repeat 0 0/contain;
      position: absolute; bottom: -30px; left: -30px;
    }
  }
  .content{
    width: 55%; max-width: 780px;
    background: #F2F2F2; padding: 15px;
    font-size: var(--size22); line-height: var(--lh34);
    >*+*{margin-top: 30px;}
  }
  .author{
    margin-top: 15px; text-align: right; color: #DA251C; font-style: italic;
    span{font-weight: 700; font-style: normal;}
  }
}
.vision_company{
  width: 100%;
  margin-top: vw(150px);
  display: flex; justify-content: flex-end;
  background: url("#{$img-path}/bg-vision.jpg") no-repeat 0 0/cover;
  h4{padding-bottom: 25px; font-size: vw(60px); font-weight: 700; color: #fff; text-transform: uppercase; border-bottom: 3px solid #fff;}
  .content{
    width: 822px;
    max-width: 45%;
    padding: vw(45px);
    background: rgba(#225D39,.7);
    p{margin-top: 30px; font-size: var(--size26); color: #fff; line-height: 42px;}
    p span{font-size: var(--size34); font-weight: 700; text-transform: uppercase;}
  }
}
.service_company{
  padding: 80px 0 60px;
  background: #D4D7D9;
  .container{max-width: 1430px;}
  .header{
    justify-content: center;
    align-items: flex-start;
    p{padding-left: 30px; flex: 1;}
  }
  h2.title{
    padding-bottom: 25px;
    border-bottom: 5px solid #444;
    font-size: vw(58px); text-align: right;
    span{display: block; margin-top: 8px; font-weight: 300; font-size: vw(45px); text-transform: none;}
  }
  p{font-size: var(--size28); line-height: var(--lh44);}
  .list_service{
    margin-top: 70px;
    justify-content: center;
    li{max-width: calc(20% - 10px); padding: 30px 15px; margin: 0 5px 20px; background: #fff; text-align: center;}
    p{font-size: 18px; line-height: inherit;}
    h4{margin: 35px 0; font-size: 20px; font-weight: 700; line-height: inherit; text-transform: uppercase;}
    .icon{display: block; width: 80px; height: 80px; margin: 0 auto;}
    .icon-truck{width: 103px; background: url("#{$img-path}/tow-truck.svg") no-repeat;}
    .icon-factory{width: 75px; background: url("#{$img-path}/factory.svg") no-repeat;}
    .icon-support{background: url("#{$img-path}/support.svg") no-repeat;}
    .icon-company{background: url("#{$img-path}/company.svg") no-repeat;}
    .icon-sketch{background: url("#{$img-path}/sketch.svg") no-repeat;}
  }
}
.data_company{
  width: 100%;
  padding: vw(90px) 0;
  background: url("#{$img-path}/unsplash2.jpg") no-repeat 0 0/cover;
  .container{max-width: 100%;}
}
.digram{
  width: vw(1678px);
  margin: vw(75px) auto 0;
  padding-top: vw(160px);
  color: #fff;
  &_detail{
    width: 100%;
    background: url("#{$img-path}/line.svg") no-repeat 0 0/contain;
  }
  h5{margin: vw(25px) 0 0; font-size: vw(32px); font-weight: 700;}
  p{font-size: vw(24px); line-height: vw(40px)}
  li{width: 32%; text-align: center;}
  li:nth-child(1){
    padding-left: vw(10px);
    .digram_icon{padding-left: vw(30px)}
    .icon{width: 53px; height: 54px; background: url("#{$img-path}/company2.svg") no-repeat 0 0/contain;}
  }
  li:nth-child(2){
    width: 36%;
    padding-right: vw(50px);
    .digram_icon{margin-left: vw(177px);}
    h5{margin: 0;}
    p{margin-top: vw(-310px);}
  }
  li .icon{
    width: 84px;
    height: 45px;
    background: url("#{$img-path}/digram-icon.svg") no-repeat 0 0/contain;
  }
  &_icon{
    width: vw(215px); height: vw(136px); margin: 0 auto;
    display: flex; align-items: center; justify-content: center;
  }
}
.contact{
  margin-left: 75px;
  padding: 64px 0 0;
  h2.title{margin-bottom: vw(95px);}
  .container{max-width: 1376px;}
  .col-lg-6,.col-lg-12{padding: 0 8px;}
  .map{
    iframe{width: 100%; height: 564px;}
    &:after,&:before{
      content: "";
      background: #266940;
      position: absolute;
    }
    &:before{height: calc(100% - 40px); width: 75px; left: -75px; top: -40px;}
    &:after{height: 40px; width: 225px; top: -40px; left: -75px;}
  }
  &_info{
    background: #F2F2F2;
    padding: 35px;
    h4{margin-bottom: 40px; font-size: var(--size32); font-weight: 700; text-transform: uppercase; text-align: center;}
    p{margin-bottom: 40px; font-size: var(--size28); line-height: var(--lh34);}
    p span{display: block; margin-bottom: 12px; font-weight: 700;}
    p a{color: #E5645E;}
  }
  &_form{
    margin-bottom: 145px;
    margin-top: vw(100px);
    padding: vw(60px) 100px;
    background: #F2F2F2;
    h4.title{margin-bottom: vw(50px); font-size: vw(47px); text-align: center; font-weight: 700;}
    .form-group{
      width: 100%;
      padding: 25px 0 0;
      margin-bottom: 5px;
      position: relative;
      label{left: 15px;}
      select{height: 36px !important;}
    }
    .form-control{height: 40px; font-size: 14px;}
    textarea{height: 260px !important; padding-top: 30px !important;}
    .form-control{background-image: linear-gradient(0deg,#266940 1px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);}
    .form-submit{padding-top: 0;}
    .btn_submit{
      width: vw(300px); height: vw(65px); display: flex;
      align-items: center; justify-content: center;
      margin: 45px auto 0; border-radius: 9999px; background: var(--green);
      font-size: var(--size32); font-weight: 700; color: #fff;
      text-transform: uppercase;
      &:hover{background: #000;}
    }
    .form-control, .is-focused .form-control {
      background-image: linear-gradient(0deg,#266940 1px,rgba(156,39,176,0) 0),linear-gradient(0deg,#4d4d4d 1px,hsla(0,0%,82%,0) 0) !important; border-radius: 0;
      &:focus{outline: none; box-shadow: none;}
    }
    &:after,&:before{
      content: "";
      background: #266940;
      position: absolute;
    }
    &:before{width: 75px; height: 400px; left: -75px; bottom: -40px;}
    &:after{height: 50px; width: 400px; left: -75px; bottom: -50px;}
  }
  .form-row{
    justify-content: space-between;
    .form-group{width: 49%; padding: 25px 5px 0;}
  }
}
.kzt{display: none;}

//uikit
.bg-green{
  >*{position: relative; z-index: 2;}
  &:after{
    content: "";
    width: 100%; height: 100%;
    background: transparent linear-gradient(180deg, #266A41 0%, #075D24 100%) 0% 0% no-repeat padding-box;
    position: absolute; top: 0; left: 0;
    opacity: 0.6;
  }
}
h2.title{
  font-size: var(--size32);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  &.white{color: #fff;}
}
.slick-list{
  a:focus{outline: none;}
}
.effect_border{
  position: relative;
  label{
    position: absolute;
    margin: 0;
    font-size: 20px;
    pointer-events: none;
    transition: all .3s ease;
    top: 1.3125rem;
    left: 0;
  }
  .form-control{
    background: no-repeat bottom,50% calc(100% - 0px);
    background-size: 0 100%,100% 100%;
    border: none;
    transition: background 0s ease-out;
    padding: 10px 12px 0;
    border-radius: 0;
  }
  &.focus,&.filled{
    label{top: 7px; left: 15px; font-size: 16px; color: #000;}
    .form-control{background-size: 100% 100%,100% 100%; transition-duration: 0.3s;}
  }
}

//js animation
.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

//footer
footer{
  width: 100%; height: 264px;
  display: flex; align-items: center;
  background: transparent linear-gradient(180deg, #296E44 0%, #124423 100%) 0% 0% no-repeat padding-box;
  color: #fff;
  h4{margin-bottom: 15px; padding-left: 40px; font: 700 22px Montserrat;}
  p,a{font: 22px/37px Montserrat; color: #fff;}
  p{display: flex;}
  .kizula_info{
    width: 100%; height: 100%;
    align-items: center;
    justify-content: space-around;
  }
  .icon{display: block; margin-right: 10px;}
  .icon-company{width: 31px; height: 31px; background: url("#{$img-path}/company1.svg") no-repeat 0 0/contain;}
  .icon-address{width: 29px; height: 29px; background: url("#{$img-path}/address.svg") no-repeat 0 0/contain;}
  .icon-phone{width: 31px; height: 31px; background: url("#{$img-path}/phone-call.svg") no-repeat 0 0/contain;}
}

@media (max-width: 1600px) {
  :root{
    --size32: 30px;
    --size34: 30px;
    --size26: 24px;
    --size28: 24px;
    --size22: 20px;
    --size21: 18px;
    --lh44: 40px;
    --lh36: 30px;
  }
  .navbar,.intro{max-width: 1140px; margin: 0 auto;}
  .intro{
    padding: 70px 15px 0;
    h2.title{margin-bottom: 40px;}
    &_content{
      p{font-size: 16px;}
      h4{height: 83px; padding-left: 62px; margin-top: -2px; max-width: 90%; font-size: 22px;}
    }
    &_img{
      &:after,&:before{width: 300px; height: 163px;}
      &:after{right: -18px; top: -18px;}
      &:before{left: -18px; bottom: -18px;}
    }
  }
  .service{
    margin-top: 100px;
    .container{max-width: 1120px;}
    .des{
      margin: 20px auto 30px;
      font-size: 20px;
      line-height: inherit;
      max-width: 77%;
    }
    &_list{
      p{font-size: 15px; line-height: inherit;}
    }
  }
  .data{
    padding: 70px 0;
    .container{max-width: 1140px;}
    &_list{
      margin-top: 70px;
      .icon{width: 150px; height: 150px; padding: 35px;}
    }
  }
  .project,.feedback{
    .slick-dots{margin-top: 60px;}
  }
  .project{
    padding: 70px 0;
    .container{max-width: 1140px;}
    .slick-arrow{
      width: 75px; height: 75px; bottom: 81px;
    }
    .slick-next{left: 480px;}
    .slick-prev{left: 405px;}
    &_info{width: calc(100% - 50%); font-size: 26px;}
  }
  .feedback{
    padding: 70px 0;
    .container{max-width: 1140px;}
    .content{
      font-size: 16px;
      p{line-height: inherit;}
    }
  }
  .partner{
    padding: 70px 0;
    .container{max-width: 1140px;}
  }
  .intro_company{
    max-width: 1140px; margin: 0 auto;
    h4{height: 82px; padding-left: 60px; width: 90%; top: -66px; font-size: 25px;}
    .content{font-size: 16px; line-height: inherit;}
  }
  .vision_company{
    h4{font-size: 30px;}
    .content{
      p{line-height: inherit; font-size: 18px;}
      p span{font-size: 22px;}
    }
  }
  .service_company{
    h2.title{padding-bottom: 15px; font-size: 30px; border-width: 3px;}
    h2.title span{font-size: 24px;}
    .header p{font-size: 20px; line-height: inherit;}
    .container{max-width: 1200px;}
    .list_service{
      h4{margin: 25px 0; line-height: inherit;}
    }
  }
  .projects{
    .container{max-width: 1200px;}
    .year{
      width: 170px; height: 60px; padding-left: 30px; line-height: 60px;
      &:after{border-top: 60px solid rgba(34, 93, 57, 0.6);}
    }
    .pr_info article{padding: 20px;}
    li:before{
      margin-top: 5px;
      height: 15px;
      width: 7px;
    }
    h3{font-size: 22px;}
    p{font-size: 18px;}
  }
  .contact{
    margin-left: 55px;
    .container{max-width: 1140px;}
    .map{
      &:before{width: 55px; left: -55px;}
      &:after{height: 30px; left: -55px;}
    }
    &_form{
      textarea{height: 150px !important;}
      h4.title{font-size: 26px;}
      .btn_submit{width: 200px; height: 55px; font-size: 20px;}
      &:before{width: 55px; left: -55px;}
      &:after{height: 30px; left: -55px;}
    }
    &_info{
      h4{font-size: 26px;}
      p{margin-bottom: 30px; font-size: 18px;}
      p span{margin-bottom: 0;}
    }
  }

  footer{
    height: 220px;
    h4{font-size: 20px;}
    p{font-size: 18px; line-height: 30px;}
  }

  //uikit
  h2.title{font-size: 30px;}
}
@media (max-width: 1440px) {
  :root{
    --size32: 30px;
    --size34: 26px;
    --size26: 20px;
    --size28: 22px;
    --size22: 18px;
    --size21: 16px;
    --lh44: 36px;
    --lh36: 24px;
  }
}
@media (max-width: 1024px) {
  .navbar{
    padding: 10px 15px;
  }
  main{margin-top: 94px;}
  .intro{
    &_content{
      h4{height: 76px; margin-top: -15px; padding-left: 55px;}
      p{font-size: 15px;}
    }
  }
  .data{
    &_list{
      .icon{width: 150px; height: 150px; padding: 30px;}
    }
  }
  .project{
    .slick-arrow{width: 67px; height: 67px;}
    .slick-next{left: 430px;}
    .slick-prev{left: 363px;}
    .slick-prev{right: 67px;}
    &_info{
      span.year{margin-bottom: 40px; padding: 15px 0 17px 55px; height: auto; line-height: inherit;}
    }
  }
  .projects{
    .pr_info{height: 150px;}
  }
  .intro_company{
    .wrap_img:before{left: -10px;}
    .content{
      font-size: 16px;
      >*+*{margin-top: 15px;}
    }
    h4{height: auto; padding: 20px 0 20px 50px; top: -52px;}
  }
  .vision_company{
    .content p{margin-top: 20px; line-height: inherit;}
  }
  .service_company{
    .list_service{
      h4{font-size: 24px; margin: 15px 0;}
    }
    .header p{font-size: 18px;}
  }
}
@media (max-width: 768px) {
  :root{
    --size32: 24px;
    --size28: 20px;
    --size21: 14px;
  }
  .intro{
    padding-top: 40px;
    h2.title{margin-bottom: 50px;}
    &_img{
      margin-top: 0;
      &:before,&:after{width: 220px; height: 120px;}
      &:before{left: -6px; bottom: -6px;}
      &:after{right: -6px; top: -6px;}
    }
    &_content{
      h4{height: 57px; padding-left: 40px;}
      p{margin-bottom: 10px; font-size: 12px;}
    }
  }
  .service{
    margin-top: 50px;
    padding: 50px 15px;
    .des{font-size: 18px; line-height: inherit;}
    &_list{
      li{flex-direction: column;}
      .icon{margin: 0 0 15px 0;}
      p{text-align: center;}
    }
  }
  .data{
    &_list{
      .icon{width: 120px; height: 120px;}
    }
  }
  .project{
    &_img{
      padding: 18px 0 0 25px;
      &:after{width: 25px;}
    }
    .slick-next{left: 302px;}
    .slick-prev{left: 235px;}
  }
  .projects{
    padding: 40px 0;
    .col-lg-6,.col-md-6{padding: 0 15px;}
    &_list{margin-top: 40px;}
    .pr_info{width: calc(100% - 20px);}
    .project_card{margin-bottom: 40px;}
    .year{font-size: 24px;}
  }
  .feedback{
    .img_customer{
      width: 53px; height: 53px; margin-right: 25px;
      img{border-width: 2px;}
    }
    .content{width: calc(100% - 80px); height: 200px; padding: 15px 15px 40px;}
    .info_cutomer{bottom: 15px;}
  }
  .partner{
    padding: 40px 15px;
    &_list{margin-top: 50px;}
    li{padding: 0 20px;}
  }
  .intro_company{
    h2.title{margin-bottom: 100px;}
    .wrap_img,.content{width: 100%;}
    .content{margin-top: 50px;}
  }
  .vision_company{
    .content{max-width: 60%;}
  }
  .service_company{
    padding: 60px 0;
    h2.title{
      padding-bottom: 20px;
      border-bottom: 3px solid #444;
      font-size: 26px;
    }
    .header p{font-size: 16px;}
    .list_service{
      margin-top: 40px;
      h4{font-size: 20px;}
      p{line-height: inherit; font-size: 16px;}
      li{padding: 15px;}
    }
  }
  .contact{
    margin-left: 0;
    h2.title{margin-bottom: 70px;}
    .col-lg-6,.col-lg-12{padding: 0 15px;}
    .map{
      &:after,&:before{left: 0; top: -30px;}
      &:before{width: 45px;}
      &:after{height: 30px;}
      iframe{padding-left: 45px;}
    }
    &_info{
      p{margin-bottom: 20px;}
      p span{margin-bottom: 0;}
    }
    &_form{
      padding: 40px 60px;
      h4.title{font-size: 26px; margin-bottom: 40px;}
      .btn_submit{width: 260px; height: 60px;}
      &:after{height: 40px; left: 0;}
      &:before{width: 40px; left: 0;}
      .form-control{height: 40px; padding: 10px 0 0; font-size: 13px;}
      .form-group{
        margin-bottom: 5px;
        label{left: 5px;}
      }
    }
  }
  .effect_border{
    label{font-size: 16px;}
    &.focus,&.filled{
      label{font-size: 16px; top: 10px;}
    }
  }

  footer{
    height: auto;
    padding: 15px 0;
    .kizula_info{justify-content: flex-start;}
    li{width: 50%; padding: 15px;}
  }

  //uikit
  h2.title{font-size: 30px;}
}
@media (max-width: 640px) {
  :root{
    --size32: 22px;
    --size34: 20px;
    --size28: 20px;
    --size26: 18px;
    --size22: 16px;
    --size21: 13px;
  }
  .navbar{
    padding: 5px 15px;
    .logo img{max-height: 60px;}
  }
  .navbar-nav{
    a{font-size: 18px;}
    li{margin: 7px 0;}
  }
  main{margin-top: 69px;}
  .banner{
    height: 280px;
    .title{font-size: 30px;}
    p{font-size: 16px;}
    &_content{padding: 30px 15px;}
    &_img{height: 100%; object-fit: cover;}
  }
  .intro{
    &_img,&_content{width: 100%;}
    &_content{
      padding-left: 0;
      h4{margin-top: 30px; font-size: 18px;}
      p{font-size: 14px; line-height: 24px;}
    }
  }
  .service{
    .des{font-size: 15px; max-width: 96%;}
    &_list{
      li{width: calc(50% - 16px); padding: 15px 8px;}
      p{font-size: 14px;}
    }
  }
  .data{
    padding: 40px 0;
    &_list{
      margin-top: 30px;
      .icon{width: 100px; height: 100px; padding: 25px;}
      li{width: 50%; margin: 15px 0;}
    }
  }
  .project,.feedback{
    .slick-dots{
      li{margin: 0 5px;}
      button{width: 40px; height: 5px;}
    }
  }
  .project{
    padding: 40px 0;
    &_list{margin-top: 40px;}
    &_img{
      padding: 15px 0 0 15px;
      height: vwm(555px);
      img,.slick-list,.slick-track{height: 100%;}
      img{object-fit: cover;}
      &:after{width: 15px;}
    }
    &_info{
      margin-top: 30px;
      font-size: 18px;
      span.year{margin-bottom: 20px;}
    }
    &_img,&_info{width: 100%;}
    .slick-dots{margin-top: 30px;}
    .slick-arrow{width: 57px; height: 57px; top: vwm(435px);}
    .slick-next{right: 0; left: calc(100% - 57px);}
    .slick-prev{left: calc(100% - 104px);}
  }
  .projects{
    .pr_info{
      min-height: auto; margin-top: -70px;
      .btn_collapse{width: 25px; height: 11px;}
      &.shadow:after{height: 30px; box-shadow: 0 -15px 10px #527d62}
    }
    h3{font-size: 20px;}
    p{font-size: 16px;}
  }
  .feedback{
    padding: 40px 0;
    .content{font-size: 14px;}
    &_list{margin-top: 40px;}
    .slick-dots{margin-top: 40px;}
  }
  .partner{
    li{padding: 0 10px;}
  }
  .intro_company{
    padding-top: 40px;
    h2.title{margin-bottom: 75px;}
    .author{font-size: 13px;}
    .content{margin-top: 30px; padding: 0; font-size: 15px;}
    .wrap_img:before{
      width: 220px; height: 120px; left: -6px; bottom: -6px;
    }
    h4{padding: 17px 0 17px 45px; top: -42px; font-size: 18px;}
  }
  .vision_company{
    padding: 40px 0;
    .content{
      max-width: 100%; padding: 20px;
      p{font-size: 16px;}
      p span{font-size: 20px;}
    }
    h4{font-size: 24px;}
  }
  .service_company{
    h2.title span{font-size: 18px;}
    .header p{padding: 15px 0 0; flex: auto;}
    .list_service{
      li{width: 100%; max-width: calc(100% - 20px);}
      h4{font-size: 18px;}
      p{font-size: 16px;}
    }
  }
  .data_company{
    padding: 40px 0;
  }
  .digram{
    width: 100%; padding-top: 140px;
    &_icon{height: vw(145px);}
    li:nth-child(1){
      .icon{width: 20px; height: 22px;}
    }
    li:nth-child(2){
      padding: 0;
      .digram_icon{margin-left: vw(190px);}
      p{margin: -140px 0 5px;}
    }
    li .icon{width: 30px; height: 16px;}
    p{font-size: 11px; line-height: initial;}
    h5{font-size: 14px;}
  }
  .contact{
    .map{
      &:before{width: 20px;}
      &:after{height: 15px;}
      iframe{padding-left: 20px; height: vwm(500px);}
    }
    &_info{
      padding: 30px 15px;
    }
    &_form{
      padding: 20px 30px;
      &:before{width: 15px; height: 50%;}
      &:after{height: 15px; width: 50%;}
      textarea{height: 120px !important}
    }
  }

  footer{
    li{width: 100%;}
    h4{font-size: 17px;}
    p,a{font-size: 15px; line-height: inherit;}
  }

  //uikit
  h2.title{font-size: 22px;}
}

@media (max-width: 360px) {
  .intro{
    &_content h4{font-size: 16px; padding-left: 35px; height: 47px;}
  }
  .project{
    &_info span.year{padding: 9px 0 12px 40px;}
  }
  .intro_company{
    h4{padding: 15px 0 15px 35px; font-size: 16px;}
  }
}










