<main>
    <section class="banner pr">
        <img src="./assets/images/banner.jpg" class="banner_img" alt="">
        <div class="banner_content">
            <h1 class="title js-animation fadeup">Giới thiệu</h1>
            <p class="js-animation fadeup">Công ty Xây dựng Kết nối Kizuna</p>
        </div>
    </section>
    <section class="intro_company flex pr">
        <h2 class="title">Giới thiệu</h2>
        <div class="wrap_img pr js-animation fadeinleft">
            <h4>Về chúng tôi</h4>
            <img src="./assets/images/view-fivestar.jpg" alt="">
        </div>
        <div class="content js-animation fadeinright">
            <p>Công ty cổ phần xây dựng Kết Nối Kizuna được ra đời vào năm 2014, chuyên cung cấp dịch vụ, giải pháp xây dựng. Với tôn chỉ hoạt động “My hands, your hands” - thiện chí hợp tác để cùng phát triển, chúng tôi liên tục cải tiến hệ thống quản lý, cập nhật trang thiết bị hiện đại và không ngừng đào tạo, phát triển nguồn nhân lực có chuyên môn cao. Song song với đó, chúng tôi còn luôn nghiên cứu, áp dụng những biện pháp kỹ thuật thi công tiên tiến nhất để đảm bảo mang đến cho khách hàng các công trình chất lượng cao nhất với chi phí tiết kiệm nhất.</p>
            <p>Bằng sự tận tình, chu đáo và chuyên nghiệp, chúng tôi cam kết sẽ là người bạn đồng hành tin cậy đem lại sự hài lòng trên mọi chặng đường phát triển của quý khách hàng.</p>
            <div class="author">
                <p>Nguyễn Quang Trung – <span>Giám đốc điều hành</span></p>
            </div>
        </div>
    </section>
    <section class="vision_company pr js-animation fadein">
        <div class="content">
            <h4>TẦM NHÌN, SỨ MỆNH VÀ GIÁ TRỊ</h4>
            <p><span>Tầm nhìn:</span> Trở thành một công ty xây dựng hàng đầu Việt Nam đáp ứng một cách tốt nhất nhu cầu của khách hàng</p>
            <p><span>Sứ mệnh:</span> Cùng chung tay xây dựng các công trình, đem lại sự phồn vinh, thịnh vượng cho khách hàng và tạo ra các giá trị đích thực cho xã hội.</p>
            <p><span>Giá trị:</span> Hợp tác, minh bạch, sáng tạo, tận tâm, chủ động đưa ra các giải pháp quản lý, thiết kế, xây dựng tối ưu nhất</p>
        </div>
    </section>
    <section class="service_company pr">
        <div class="container">
            <div class="header flex js-animation fadeup">
                <h2 class="title">
                    DỊCH VỤ
                    <span>chúng tôi cung cấp</span>
                </h2>
                <p>Dịch vụ thế mạnh của chúng tôi là xây dựng, thiết kế, sửa chữa các công trình công nghiệp và dân dụng. Bên cạnh đó, chúng tôi cũng thực hiện các dịch vụ tư vấn kỹ thuật để tối ưu hóa công năng sử dụng công trình của khách hàng.</p>
            </div>
            <ul class="list_service flex js-animation fadeup">
                <li>
                    <i class="icon icon-truck"></i>
                    <h4>Khảo sát <br> công trình</h4>
                    <p>Công việc trước khi xây dựng: Khảo sát, phá dỡ, giải phóng mặt bằng</p>
                </li>
                <li>
                    <i class="icon icon-factory"></i>
                    <h4>Công trình <br> công nghiệp</h4>
                    <p>Thi công xây dựng công trình công nghiệp (nhà máy sản xuất chế biến, nhà xưởng, ...)</p>
                </li>
                <li>
                    <i class="icon icon-support"></i>
                    <h4>Nâng cấp, <br> cải tạo</h4>
                    <p>Nâng cấp cải tạo các công trình</p>
                </li>
                <li>
                    <i class="icon icon-company"></i>
                    <h4>Công trình <br> dân dụng</h4>
                    <p>Thi công xây dựng công trình dân dụng (nhà ở đô thị, trường học, cao ốc văn phòng, khu phức hợp, khu nghỉ dưỡng…)</p>
                </li>
                <li>
                    <i class="icon icon-sketch"></i>
                    <h4>Thiết kế, <br> tư vấn</h4>
                    <p>Dịch vụ thiết kế và tư vấn kỹ thuật liên quan</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="data_company bg-green pr js-animation fadein">
        <div class="container">
            <h2 class="title white">CÁC CON SỐ CỦA CHÚNG TÔI</h2>
            <div class="digram pr">
                <ul class="digram_detail flex">
                    <li>
                        <div class="digram_icon">
                            <i class="icon"></i>
                        </div>
                        <h5>2014</h5>
                        <p>Founded Kizuna Connection Construction.,JSC</p>
                    </li>
                    <li>
                        <div class="digram_icon">
                            <i class="icon"></i>
                        </div>
                        <p>Hợp tác kinh doanh - nhận chuyển giao công nghệ từ Công ty cổ phần Marusei(Nhật bản) - Thành viên hiệp hội xây dựng</p>
                        <h5>2017</h5>
                    </li>
                    <li>
                        <div class="digram_icon">
                            <i class="icon"></i>
                        </div>
                        <h5>2019</h5>
                        <p>Engaged in Partnership <br> Marusei ., JSC (Japan)</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>