<main>
    <section class="banner pr">
        <img src="./assets/images/banner.jpg" class="banner_img" alt="">
        <div class="banner_content">
            <h1 class="title js-animation fadeup">Liên hệ</h1>
            <p class="js-animation fadeup">Công ty Xây dựng Kết nối Kizuna</p>
        </div>
    </section>
    <section class="contact pr">
        <div class="container">
            <h2 class="title">Liên hệ</h2>
            <div class="row">
                <div class="col-lg-6">
                    <div class="map pr js-animation fadeinleft">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.76161490239!2d105.80363361533182!3d21.00219079405976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aca29d647f43%3A0x5738e2659426672!2zMjRUMSwgU-G7kSA4NSBWxakgVHLhu41uZyBQaOG7pW5nLCBUaGFuaCBYdcOibiBUcnVuZywgVGhhbmggWHXDom4sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1573555118352!5m2!1svi!2s" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact_info js-animation fadeinright">
                        <h4>THÔNG TIN LIÊN HỆ</h4>
                        <p><span>Địa chỉ</span>Số 102, ngõ 1, Định Công, Thịnh Liệt, Hoàng Mai, Hà Nội</p>
                        <p>
                            <span>Số điện thoại</span>
                            <a href="tel:+84 869512222">+84 869512222</a>
                        </p>
                        <p>
                            <span>Email</span>
                            <a href="mailto:kizuna@mail.com">kizuna@mail.com</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <form action="" method="" class="contact_form pr js-animation fadeup">
                        <h4 class="title">Chia sẻ với chúng tôi</h4>
                        <div class="form-row">
                            <div class="form-group effect_border">
                                <label>Họ và tên</label>
                                <input class="form-control" type="text" name="name" required>
                            </div>
                            <div class="form-group effect_border">
                                <label>Số điện thoại</label>
                                <input class="form-control" type="number" name="phone" required>
                            </div>
                        </div>
                        <div class="form-group effect_border">
                            <label>Email</label>
                            <input class="form-control" type="email" name="email" required>
                        </div>
                        <div class="form-group effect_border">
                            <label>Lời nhắn</label>
                            <textarea class="form-control" required></textarea>
                        </div>
                        <button type="submit" class="btn btn_submit">GỬI THÔNG TIN</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>