<main>
    <section class="banner pr">
        <img src="./assets/images/banner.jpg" class="banner_img" alt="">
        <div class="banner_content">
            <h1 class="title js-animation fadeup">My hands, your hands</h1>
            <p class="js-animation fadeup">thiện chí hợp tác để cùng phát triển</p>
        </div>
    </section>
    <section class="intro flex pr">
        <h2 class="title">Giới thiệu</h2>
        <div class="intro_img pr js-animation fadeinleft">
            <img src="./assets/images/view-fivestar.jpg" alt="">
        </div>
        <div class="intro_content js-animation fadeinright">
            <h4>Về chúng tôi</h4>
            <p>Công ty cổ phần xây dựng Kết Nối Kizuna được ra đời vào năm 2014, chuyên cung cấp dịch vụ, giải pháp xây dựng. Với tôn chỉ hoạt động “My hands, your hands” - thiện chí hợp tác để cùng phát triển, chúng tôi liên tục cải tiến hệ thống quản lý, cập nhật trang thiết bị hiện đại và không ngừng đào tạo, phát triển nguồn nhân lực có chuyên môn cao. Song song với đó, chúng tôi còn luôn nghiên cứu, áp dụng những biện pháp kỹ thuật thi công tiên tiến nhất để đảm bảo mang đến cho khách hàng các công trình chất lượng cao nhất với chi phí tiết kiệm nhất.</p>
            <p>Bằng sự tận tình, chu đáo và chuyên nghiệp, chúng tôi cam kết sẽ là người bạn đồng hành tin cậy đem lại sự hài lòng trên mọi chặng đường phát triển của quý khách hàng.</p>
        </div>
    </section>
    <section class="service pr">
        <div class="container">
            <h2 class="title">DỊCH VỤ</h2>
            <div class="des js-animation fadeup">
                Dịch vụ thế mạnh của chúng tôi là xây dựng, thiết kế, sửa chữa các công trình công nghiệp và dân dụng. Bên cạnh đó, chúng tôi cũng thực hiện các dịch vụ tư vấn kỹ thuật để tối ưu hóa công năng sử dụng công trình của khách hàng.
            </div>
            <ul class="service_list flex js-animation fadeup">
                <li>
                    <i class="icon icon-truck"></i>
                    <p>Công việc trước khi xây dựng: Khảo sát, phá dỡ, giải phóng mặt bằng</p>
                </li>
                <li>
                    <i class="icon icon-factory"></i>
                    <p>Thi công xây dựng công trình công nghiệp (nhà máy sản xuất chế biến, nhà xưởng, ...)</p>
                </li>
                <li>
                    <i class="icon icon-company"></i>
                    <p>Thi công xây dựng công trình dân dụng (nhà ở đô thị, trường học, cao ốc văn phòng, khu phức hợp, khu nghỉ dưỡng…)</p>
                </li>
                <li>
                    <i class="icon icon-support"></i>
                    <p>Nâng cấp cải tạo các công trình</p>
                </li>
                <li>
                    <i class="icon icon-sketch"></i>
                    <p>Dịch vụ thiết kế và tư vấn kỹ thuật liên quan</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="data pr">
        <div class="container">
            <h2 class="title">CÁC CON SỐ CỦA CHÚNG TÔI</h2>
            <ul class="data_list flex">
                <li>
                   <div class="icon">
                       <img src="./assets/images/team.png" alt="">
                   </div>
                   <h4><span class="counter" data-count="40">0</span> NĂM</h4>
                   <p>KINH NGHIỆM</p>
               </li>
                <li>
                    <div class="icon">
                        <img src="./assets/images/design.png" alt="">
                    </div>
                    <h4><span class="counter" data-count="126">0</span></h4>
                    <p>DỰ ÁN HOÀN THÀNH</p>
                </li>
                <li>
                    <div class="icon">
                        <img src="./assets/images/group.png" alt="">
                    </div>
                    <h4><span class="counter" data-count="1000">0</span>+</h4>
                    <p>Nhân viên</p>
                </li>
                <li>
                    <div class="icon">
                        <img src="./assets/images/team1.png" alt="">
                    </div>
                    <h4><span class="counter" data-count="62">0</span></h4>
                    <p>ĐỐI TÁC TOÀN CẦU</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="project pr">
        <div class="container">
            <h2 class="title">Dự án</h2>
            <div class="project_list js-animation fadeup">
                <div class="project_item flex">
                    <div class="project_img">
                        <div class="item"><img src="./assets/images/img-pr.jpg" alt=""></div>
                        <div class="item"><img src="./assets/images/banner.jpg" alt=""></div>
                    </div>
                    <div class="project_info">
                        <span class="year">2014</span>
                        <h4>Khu đô thị Five Star Eco City</h4>
                        <p>Cần Giuộc, Long An</p>
                    </div>
                </div>
                <div class="project_item flex">
                    <div class="project_img">
                        <div class="item"><img src="./assets/images/img-pr.jpg" alt=""></div>
                        <div class="item"><img src="./assets/images/img-pr.jpg" alt=""></div>
                    </div>
                    <div class="project_info">
                        <span class="year">2014</span>
                        <h4>Khu đô thị Five Star Eco City</h4>
                        <p>Cần Giuộc, Long An</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feedback pr">
        <div class="container">
            <h2 class="title">KHÁCH HÀNG NÓI GÌ VỀ CHÚNG TÔI</h2>
            <div class="feedback_list js-animation fadeup">
                <div class="feedback_item flex">
                    <div class="img_customer">
                        <img src="./assets/images/img-pr.png" alt="">
                    </div>
                    <div class="content">
                        <article>
                            <p>"Thiết kế hoàn hảo, thi công chất lượng, giá cả hợp lí" là tất cả những từ tôi dùng khi nói về các dịch vụ của cty sau khi hoàn thiện các chuổi cửa hàng thời trang của tôi.</p>
                        </article>
                        <div class="info_cutomer flex">
                            <span class="name">Mai Hà Uyên</span> - <span class="address">nhà Quận 7</span>
                        </div>
                    </div>
                </div>
                <div class="feedback_item flex">
                    <div class="img_customer">
                        <img src="./assets/images/img-pr.png" alt="">
                    </div>
                    <div class="content">
                        <article>
                            <p>"Thiết kế hoàn hảo, thi công chất lượng, giá cả hợp lí" là tất cả những từ tôi dùng khi nói về các dịch vụ của cty sau khi hoàn thiện các chuổi cửa hàng thời trang của tôi.</p>
                        </article>
                        <div class="info_cutomer flex">
                            <span class="name">Mai Hà Uyên</span> - <span class="address">nhà Quận 7</span>
                        </div>
                    </div>
                </div>
                <div class="feedback_item flex">
                    <div class="img_customer">
                        <img src="./assets/images/img-pr.png" alt="">
                    </div>
                    <div class="content">
                        <article>
                            <p>"Thiết kế hoàn hảo, thi công chất lượng, giá cả hợp lí" là tất cả những từ tôi dùng khi nói về các dịch vụ của cty sau khi hoàn thiện các chuổi cửa hàng thời trang của tôi.</p>
                        </article>
                        <div class="info_cutomer flex">
                            <span class="name">Mai Hà Uyên</span> - <span class="address">nhà Quận 7</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="partner pr">
        <div class="container">
            <h2 class="title">ĐỐI TÁC CỦA CHÚNG TÔI</h2>
            <ul class="partner_list js-animation fadeup">
                <li><a href="javascript:;"><img src="./assets/images/logo-tnk.png" alt=""></a></li>
                <li><a href="javascript:;"><img src="./assets/images/lienviet.png" alt=""></a></li>
                <li><a href="javascript:;"><img src="./assets/images/longhoang.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="./assets/images/mecenex.png" alt=""></a></li>
                <li><a href="javascript:;"><img src="./assets/images/logo-partner.png" alt=""></a></li>
            </ul>
        </div>
    </section>
</main>