<main>
    <section class="banner pr">
        <img src="./assets/images/banner.jpg" class="banner_img" alt="">
        <div class="banner_content">
            <h1 class="title js-animation fadeup">Dự án</h1>
            <p class="js-animation fadeup">Dự án Công ty Xây dựng Kết nối Kizuna</p>
        </div>
    </section>
    <section class="projects flex pr">
        <div class="container">
            <h2 class="title">Dự án</h2>
            <div class="projects_list row">
                <div class="col-lg-6 col-md-6">
                    <div class="project_card pr js-animation fadein">
                        <div class="pr_img">
                            <a href="" class="thumb"><img src="./assets/images/view-fivestar.jpg" alt=""></a>
                        </div>
                        <div class="year">2014</div>
                        <div class="pr_info">
                            <article>
                                <h3><a href="" title="">7 Phòng giao dịch của Ngân hàng Bưu điện Liên Việt</a></h3>
                                <p>7 Phòng giao dịch của Ngân hàng Bưu điện Liên Việt</p>
                                <p>7 Phòng giao dịch của Ngân hàng Bưu điện Liên Việt</p>
                                <p>7 Phòng giao dịch của Ngân hàng Bưu điện Liên Việt</p>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="project_card pr js-animation fadein">
                        <div class="pr_img">
                            <a href="" class="thumb"><img src="./assets/images/img-pr2.jpg" alt=""></a>
                        </div>
                        <div class="year">2015</div>
                        <div class="pr_info">
                            <article>
                                <h3><a href="" title="">7 trường học tại tỉnh Cao Bằng</a></h3>
                                <ul class="list">
                                    <li><p>Trường mầm non Lăng Hiếu</p></li>
                                    <li><p><p>Trường mầm non Ngọc Khuê</p></p></li>
                                    <li><p>Trường mầm non Lăng Hiếu</p></li>
                                    <li><p><p>Trường mầm non Ngọc Khuê</p></p></li>
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="project_card pr js-animation fadein">
                        <div class="pr_img">
                            <a href="" class="thumb"><img src="./assets/images/img-pr3.jpg" alt=""></a>
                        </div>
                        <div class="year">2015</div>
                        <div class="pr_info">
                            <article>
                                <h3><a href="" title="">Khu chung cư Yên Hòa Condominium</a></h3>
                                <p>259 Yên Hòa – Cầu Giấy</p>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="project_card pr js-animation fadein">
                        <div class="pr_img">
                            <a href="" class="thumb"><img src="./assets/images/img-pr2.jpg" alt=""></a>
                        </div>
                        <div class="year">2015</div>
                        <div class="pr_info">
                            <article>
                                <h3><a href="" title="">Vinhomes Dragon Bay Hạ Long</a></h3>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>